@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    max-width: 1396px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.container-sideBar::-webkit-scrollbar {
    display: none;
}

.container-sideBar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.showMessages::-webkit-scrollbar {
    display: none;
}

.showMessages {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}